<% include ./partials/header.ejs %>

<div class="profile w-full min-h-screen text-white bg-gray-900 pt-1">
    <div class="prof-dets flex flex-col items-center mt-10">
        <div class="w-28 h-28 rounded-full bg-white"></div>
        <h1 class="font-semibold text-3xl ">Anas Khan</h1>
        <h1 class="font-semibold text-xs ">@username</h1>
        <a href="/edit" class="px-7 py-1 mt-1 text-xs font-semibold bg-gray-300 rounded-full hover:bg-gray-600">Edit</a>
        
    </div>
</div>

<% include ./partials/footer.ejs %>